#logoutModule{
	position: absolute;
	top: 0px;
	right: 25px;
    text-align: right;	
    line-height: 25px;
    width: 400px;
}
#logoutModule a{
	color: #6F6F6F;
}
#logoutModule strong{
}
#logoutModule .cerrarSesion{
	background: url(/img/layout/logout.png) 1px 1px no-repeat;
	display: block;
	float: right;
	height: 25px;
	width: 23px;	
	margin-left: 5px;
}
#logoutModule .cerrarSesion span{
	display: none;
}